* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.img-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.img-container img {
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    transition: transform 1s;
}

.img-container img:not(:first-child) {
    transform: translateX(400px);
}